


<body style="background-color: whitesmoke;background-image:url(https://wallpaperaccess.com/full/3847549.jpg); background-repeat:no-repeat;width: 100%; background-size: cover">

<div>
  
  <br>
  <br>
 
  
    <div class="modal-dialog" >
  
      <div class="modal-content" style="background-color: rgba(241, 229, 229, 0.972); " >
          <div class="modal-header text-center">
              <h4 class="modal-title "style="font-family: bold; font-size: xx-large;margin-left: 110px;">Role Information</h4>
             
          </div>
  
              <div class="modal-body">
                    <div *ngIf="success == true; then SUCC else FAIL"></div>
                    <ng-template #SUCC ><p style="color:green" >{{message}}</p></ng-template>
                    <ng-template #FAIL><p style="color:rgb(45, 187, 16) ;text-align: center;font-size: x-large;" >{{message}}</p></ng-template>
      
                  <div class="form-group row">
                        <div class="col-lg-1"></div>
                      <label class="col-lg-3 form-control-label">Role <span style="color: red;"> * </span> </label>
                      <div class="col-lg-8">
                          <input [(ngModel)]="form.name" type="text" name="name" 
                          placeholder="Enter your role name"style=" width: 250px;">
                          <div class="col-md-4"></div>
                          <span style="color: red;"> {{inputError.name}} </span>
                      </div>
                  </div>
                  <div class="form-group row">
                      <div class="col-lg-1"></div>
                      <label class="col-lg-3 form-control-label">Description <span style="color: red;"> * </span> </label>
                      <div class="col-lg-8">
                          <input [(ngModel)]="form.description" type="text" name="description" 
                          placeholder="Enter your description"style=" width: 250px;">
                          <span style="color: red;"> {{inputError.description}} </span>
  
                      </div>
                  </div>
  
                  <div class="container">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-3">
                                
                                  <button (click)="save()" type="submit" class="btn btn-success" value="submit" >Save
                                    
                                </button>
                                                 
                                <button type="reset" (click)="reset()" class="btn btn-primary" value="reset" style="margin-left:100px; margin-top: -63px">Reset
                                    
                                </button>
                            </div>
                        </div>
                     </div>
                      <!-- <div class="col-lg-12">
                          <!-- <a href="/ORS/CollegeList"> List -->
                              <!-- <span class="fas fa-paper-plane"></span>
                          </a>
                      </div> -->
                  <!-- </div> -->
              </div>
      <!-- </div> -->
  </div>
  <!--
  <form method="POST">
      <input type="hidden" name="id" value="{{id}}">
      <br>
      Name <input name="collegeName" value="{{collegeName}}">
      <span style="color: red;"> {{inputError.collegeName}} </span>
      <br>
      Address <input name="collegeAddress" value="{{collegeAddress}}">
      <span style="color: red;"> {{inputError.collegeAddress}} </span>
      <br>
      State <input name="collegeState" value="{{collegeState}}">
      <span style="color: red;"> {{inputError.collegeState}} </span>
      <br>
      City <input name="collegeCity" value="{{collegeCity}}">
      <span style="color: red;"> {{inputError.collegeCity}} </span>
      <br>
      Phone_Number <input name="collegePhoneNumber" value="{{collegePhoneNumber}}">
      <span style="color: red;"> {{inputError.collegePhoneNumber}} </span>
      <br>
  
      <input type="submit" value="Save">
      <a href="/ORS/CollegeList"> List </a>
  </form>
  -->
  </div>
  