



<!-- <body style="background-color: whitesmoke;background-image:url(https://image.freepik.com/free-photo/glasses-are-pink-notebook-pencil-yellow-background-there-was-pencil-stickers-paper-clips-flower-workplace-freelancer-businessman-entrepreneur_112337-1211.jpg); background-repeat:no-repeat;width: 100%; background-size: cover ">	 -->
    <body style="background-color: whitesmoke;background-image:url(https://wallpaperaccess.com/full/3847549.jpg); background-repeat:no-repeat;width: 100%; background-size: cover">

<div>
    <br>
    <br>
   
    
  <div class="modal-dialog" >
  
    <div class="modal-content" style="background-color: rgba(241, 229, 229, 0.972); ">
          <div class="modal-header text-center">
              <h4 class="modal-title "style="font-family: bold; font-size: xx-large;margin-left: 110px;">Course Information</h4>
             
          </div>
  
              <div class="modal-body">
                    <div *ngIf="success == true; then SUCC else FAIL"></div>
                    <ng-template #SUCC ><p style="color:green" >{{message}}</p></ng-template>
                    <ng-template #FAIL><p style="color:rgb(45, 187, 16) ;text-align: center;font-size: x-large;" >{{message}}</p></ng-template>
      
                  <div class="form-group row">
                      <div class="col-lg-1"></div>
                      <label class="col-lg-3 form-control-label">Name <span style="color: red;"> * </span> </label>
                      <div class="col-lg-8">
                          <input [(ngModel)]="form.courseName" type="text" name="courseName" placeholder="Enter your course name"style=" width: 250px;">
                          <span style="color: red;"> {{inputError.courseName}} </span>
                      </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-1"></div>
                      <label class="col-lg-3 form-control-label">Description <span style="color: red;"> * </span> </label>
                      <div class="col-lg-8">
                          <input [(ngModel)]="form.courseDescription" type="text" name="courseDescription" placeholder="Enter your Course Description"style=" width: 250px;">
                          <span style="color: red;"> {{inputError.courseDescription}} </span>
  
                      </div>
                  </div>
  
                  <div class="form-group row">
                    <div class="col-lg-1"></div>
                      <label class="col-lg-3 form-control-label"> Duration <span style="color: red;"> * </span></label>
                      <div class="col-lg-8">
                          <input  [(ngModel)]="form.courseDuration"  type="text" name="courseDuration" placeholder="Enter your Course Duration"style=" width: 250px;">
                          <span style="color: red;"> {{inputError.courseDuration}} </span>
  
                      </div>
                  </div>
  
             
                <div class="container">
                  <div class="row">
                        <div class="col-md-4"></div>
                      <div class="col-md-3">
                          
                            <button (click)="save()" type="submit" class="btn btn-success" value="submit" >Save
                              
                          </button>
                          <button type="reset" (click)="reset()" class="btn btn-primary" value="reset" style="margin-left:100px; margin-top: -63px">Reset
                            <!-- <span class="fas fa-paper-plane"></span> -->
                            <!-- <span class="glyphicon glyphicon-chevron-right"></span> -->
                          </button>
                                           
                          <!-- <button type="reset" (click)="reset()" class="btn btn-primary" value="reset" style="margin-left:100px; margin-top: -63px">Reset
                              
                          </button> -->
                      </div>
                  </div>
               </div>
                      
              </div>
     
  </div>
 
  </div>
  