



<body style="background-image: url('https://image.freepik.com/free-photo/glasses-are-pink-notebook-pencil-yellow-background-there-was-pencil-stickers-paper-clips-flower-workplace-freelancer-businessman-entrepreneur_112337-1211.jpg');
background-size: cover;
height: 100vh;
padding:0;
margin:0;">
<div class="container">
    <div class="d-flex" >
        <div class="mx-auto" style="margin-top: 220px;">
                        <h6 align="center" style="font-size: xxx-large;font-style: italic; color: rgb(0, 4, 255);margin-top: 20px;">
                            welcome to online result system
                             <!-- <h1><mark style="background-color: rgb(233, 240, 215);font-style: oblique;">Welcome to "ONLINE RESULT SYSTEM"</mark></h1> -->
                         </h6>


        </div>
    </div>
</div>
</body>
